body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px 20px;
    background-color: rgb(174, 204, 125) ;
}

img {
    height: 200px;
}

nav {
    color: #FFFFFF;
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: red;

}

body header nav a{
    color:#FFFFFF;
}

h1 {
    color:darkgreen;
}

.item-b {
    grid-area: main;
}

div h3 a{
    color:rgb(76, 151, 76);
}
a{
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);

}




/* .item {
    grid-column: 1;
    grid-row: 1;
}
.item2 {
    grid-column:2;
    grid-row: 1;
}

.item3 {
    grid-column:3;
    grid-row: 1;
}
.item4 {
    grid-column:4;
    grid-row: 1;
}
.item5 {
    grid-column:1;
    grid-row: 2;
} */
